@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Poppins', sans-serif;
  background-color: #ccf2ff;
  background-image: linear-gradient(rgba(4,9,30,0.1),rgba(4,9,30,0.1)),url(https://www.greeka.com/photos/greece/hero/greek-islands-1920.jpg);
  background-position: center;
  background-size: cover;
  position:relative;
      display: grid;
    grid-auto-rows: repeat(1,1fr);
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    grid-row-gap: 30px;
    text-align: center;
    
}

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


  input{
    width: 30%;
    height: 50px;
    margin: auto;
    font-size: 20px;
    border-radius: 50px;
  }
  
  option{
   width: 35%;
    height: 50px;
    margin: auto;
    font-size: 20px;
  }
  
  select{
   width: 10%;
    height: 35px;
    margin: auto;
    font-size: 20px;
    text-align:center;
    border-radius: 50px;
  
  }


